
@tailwind base;
@tailwind components;
@tailwind utilities;


/* @layer components { 
    
    .style-tame //add style here//  
} */


i,
svg {
    pointer-events: none;
}

.hihat-pad.active {
     background-color: #A855F7;
}

.snare-pad.active {
    background-color: #14b8a6;
}

.kick-pad.active {
    background-color: #0EA5E9;
}